---
---

<footer>
  <div class="container">
    <div class="copyright">
      <p>© 2025 eatingsolutionsforbreakfast</p>
    </div>
    <div class="social-links">
      <a href="https://www.linkedin.com/in/pranayreddymuthyala/">LinkedIn</a>
      <a href="">GitHub</a>
      <a href="mailto:pranay@eatingsolutionsforbreakfast.com">Contact Me</a>
      <a href="/aboutme">About Me</a>
      <a href="/privacy">Privacy Policy</a>
    </div>
  </div>
</footer>

<style>
  footer {
    background-color: #141723; /* Replace with your background color */
    color: #eee; /* Replace with your text color */
    padding: 2rem 0;
    text-align: center;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .social-links a, .navigation-links a {
    margin: 0 1rem;
    color: #eee;
    text-decoration: none;
  }

  .social-links a:hover, .navigation-links a:hover {
    text-decoration: underline;
  }
</style>