---
// src/components/Navbar.astro
---

<nav class="bg-[#141723] p-4 flex justify-between items-center">
  <div class="text-white font-bold text-xl">eatingsolutionsforbreakfast</div>
  <ul class="flex space-x-4">
    <li>
      <a
        href="/"
        class="text-white p-2 rounded-md hover:bg-[#004225] transition-colors duration-200 cursor-pointer"
      >
        Home
      </a>
    </li>
    <li>
      <a
        href="/projects"
        class="text-white p-2 rounded-md hover:bg-[#004225] transition-colors duration-200 cursor-pointer"
      >
        Projects
      </a>
    </li>
    <li>
      <a
        href="/about"
        class="text-white p-2 rounded-md hover:bg-[#004225] transition-colors duration-200 cursor-pointer"
      >
        About Me
      </a>
    </li>
  </ul>
</nav>